* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*! ---- HEADER ---- */

header {
    background-color: black;
    padding: 15px;
    position: static;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

header nav {
    background-color: black;
}

header nav div, header nav ul {
    background-color: black;
}

header a h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: darkred;
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: flex;
    margin: 0 10px;
}

header nav ul li a {
    font-size: 18px;
    color: darkred;
    text-decoration: none;
}

header nav ul li a:hover {
    color: red;
}

/*! ---- NAVBAR ---- */

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar-toggler {
    margin-left: auto;
    padding: 10px;
}

.navbar-nav .nav-link {
    color: darkred;
    font-size: 17px;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: red;
}

/*! ---- BRAND "DIGITAL MARKET" ---- */

.container-fluid .navbar-brand {
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
}

/*! ---- FORM Y SEACH BUTON ---- */

.form-control {
    background-color: black;
    color: darkred;
    border: 1px solid darkred;
}

.btn-outline-success {
    background-color: darkred;
    color: black;
    border-color: darkred;
}

.btn-outline-success:hover {
    background-color: red;
    border-color: red;
    color: black;
}

/*! ---- CONTAINER ---- */

.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
}

/*! ---- FLEX UTILY CLASS ---- */

.d-flex {
    display: flex;
    align-items: center;
}

/*? ---- PANTALLA RESPONSIVE ---- */

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items:flex-start;
    }
    .navbar-brand {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .navbar-collapse {
        width: 100%;
        text-align: left;
        padding: 10px 0;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-control {
        width: 100%;
        margin: 10px 0;
    }
    .btn-outline-success {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .navbar-toggler {
        margin-left: auto;
    }
}

/*! ---- SECTION (HERO) ---- */

.hero {
    text-align: center;
    color: whitesmoke;
    height: 90vh;
    background-image: url("../img/hero.png.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    padding: 40px 20px;
    padding-top: 120px;
    margin-top: 0;
    margin-bottom: 0;
}

.hero h2 {
    font-size: 40px;
    color: whitesmoke;
    padding: 20px;
}

.hero p {
    font-size: 20px;
}

/*! ---- SECTION (PRODUCTOS DESTACADOS) ---- */

section h2 {
    color: darkred;
}

.productos-destacados h2 {
    background-color: darkred;
    color: black;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.productos-destacados .contenedor-items-destacados {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.productos-destacados div h3 {
    font-size: 22px;
    margin: 15px 0;
    color: whitesmoke;
}

.productos-destacados div a {
    background-color: darkred;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.productos-destacados div img {
    width: 210px;
    height: auto;
    margin-bottom: 20px;
}

.productos-destacados div a:hover {
    background-color: red;
}

.contenedor-items-destacados div {
    background-color: darkred;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; box-shadow: 0.3s ease;
}

.productos-destacados {
    min-height: 600px;
}

/*! ---- SECTION (PRODUCTOS) ---- */

section h2 {
    color: darkred;
    font-weight: bold;
}

.productos h2 {
    background-color: darkred;
    color: black;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.productos .contenedor-items {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.productos {
    min-height: 600px;
    margin-bottom: 100px;
}

.productos div h3 {
    font-size: 22px;
    margin: 15px 0;
    color: whitesmoke;
}

.productos div a {
    background-color: darkred;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.productos div img {
    width: 210px;
    height: auto;
    margin-bottom: 20px;
}

.productos div a:hover {
    background-color: red;
}

.contenedor-items div {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; box-shadow: 0.3s ease;
}

.productos {
    min-height: 600px;
}

/*! ---- WHATSAPP ---- */

.fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.fixed a img {
    width: 70px;
}

/*! ---- FOOTER ----*/

footer {
    background-color: black; 
    color: darkred; 
    padding: 20px 0; 
}

.footer-container {
    display: flex; 
    justify-content: space-around; 
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-section {
    flex: 1; 
    padding: 10px; 
}

.footer-section h5 {
    margin-bottom: 15px; 
    color: darkred;
}

.social {
    display: flex; 
    align-items: center; 
    margin-left: 30px;
}

.social-icon {
    width: 40px; 
    height: 40px; 
    margin-right: 15px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center; 
    padding: 10px 0; 
    background-color:black;
    color: darkred;
}

/*? ---- HEADER (RESOLUCION) ---- */

@media screen and (max-width:734px) {
    header {
        flex-direction: column;
    }
}                    

/*! ---- PAGINA "PRODUCTOS" ---- */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*! ---- SECTION ---- */

.productoss h2 {
    background-color: darkred;
    color: black;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.productoss {
    padding: 0;
    text-align: center;
}

.contenedor-itemss {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: space-between;
}

.producto {
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; box-shadow: 0.3s ease;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1rem;
    margin: 10px 0;
    color: whitesmoke;
}

.boton {
    background-color:darkred;
    color: whitesmoke;
    padding: 10px 15px;
    border:  none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
    text-decoration: none;
}

.boton:hover {
    background-color: red;
}


/*! ---- WHATSAPP ---- */

.fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.fixed a img {
    width: 70px;
}

/*! ---- FOOTER ---- */

footer div a img {
    width: 50px;
}

/*? ---- HEADER (RESOLUCION) ---- */

@media screen and (max-width: 768px){

.producto {
    flex-basis: calc(50% - 20px)
    }
}

@media screen and (max-width: 480px) {
.producto {
    flex-basis: 100%;
    }
}

/*! ---- PAGINA "NOSOTROS" ---- */

.nosotros .valores .timeline {
    margin-top: 0;
    padding-top: 0;
}

.nosotros h2 {
    background-color: darkred;
    color: black;
    margin-top: 0;
    padding-top: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.nosotros p {
    font-size: 18px;
    color: white;
    max-width: 800px;
    margin: 20px auto;
}

.valores h2 {
    background-color: darkred;
    color: black;
    margin-top: 0%;
    padding-top: 0%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.valores h3 {
    color: darkred;
    margin-bottom: 10px;
    font-size: 22px;
}

.valores p {
    font-size: 18px;
    color: white;
    max-width: 800px;
    margin: 20px auto;
}

.timeline {
    padding: 60px 20px;
}

.timeline h2 {
    background-color: darkred;
    color: black;
    margin-top: 0;
    padding-top: 20px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.timeline-item {
    padding: 20px;
    border-left: 4px solid darkred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-item h3 {
    color: darkred;
    margin-bottom: 10px;
}

.timeline-item p {
    font-size: 18px;
    color: white;
}

/*! ---- PAGINA "CONTACTO" ---- */

.contacto {
    margin-top: 0;
    padding-top: 0;
}

.contacto h2 {
    background-color: darkred;
    color: black;
    margin-top: 0;
    padding-top: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.formulario-contacto h2 {
    background-color: darkred;
    color: black;
    margin-top: 0;
    padding-top: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkred;
}

.formulario-contacto input, .formulario-contacto textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid darkred;
    border-radius: 5px;
}

.formulario-contacto button {
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contacto button:hover {
    background-color: red;
}

/*! ---- PAGINA "OPINIONES" ---- */

.testimonials {
    padding: 0px 40px 20px;
    text-align: center;
    margin: 0;
    margin-top: 100px;
}

.testimonials h2 {
    background-color: darkred;
    color: black;
    padding: 20px;
    text-transform: uppercase;
    margin: 5px;
    margin-bottom: 20px;
}

.testimonials .blockquote {
    padding: 20px;
    border-left: 5px solid darkred;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.testimonials .blockquote p {
    font-style: italic;
    font-size: 1.3rem;
}

.testimonials .blockquote-footer {
    margin-top: 10px;
    font-size: 1rem;
    color: darkred;
    font-weight: bold;
}