// VARIABLES //

$primary-color: #D01C1F;
$secundary-color: rgb (15, 18, 19);
$text-color: #FAEBD7;
$hover-color: #FF0000;

// MIXINS //

@mixin button-styles($primary-color) {
    background-color: $primary-color;
    color: $text-color;
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    }

//EXTENDS //

%button-base {
    background-color: $primary-color;
    color: $text-color;
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
    }

// LISTAS //

$lista-de-colores: black, #FAEBD7, #D01C1F;
